.idea/
.vs/
cmake-build-debug/
bin/
build/
out/
CMakeSettings.json
_deps

CMakeFiles/
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
cmake_install.cmake

# Builds
*.exe
*.dll
*.so
*.dylib
*.lib
*.obj
*.out
*.app
*.a
*.la
*.lai
*.lo
*.o
*.obj
*.pdb
*.lib
*.ilk
*.exp
*.pch
*.idb
*.res
*.sdf
codename_launcher

# Rapid json stuffs
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
googletest/